
/*------------------------------------------------------------------
    Blog Page
-------------------------------------------------------------------*/

.blog-page {
    overflow: visible;
    article {
        width: 100%;
        margin: 0 0 30px;
        overflow: hidden;
        border-radius:4px;
        box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.2);
        .news-img-block {
            position: relative;
            padding-bottom: 20px;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .text-title {
        margin: 40px 0 20px;
        color: $darkGrayColor;
        font-size: 1.267em;
    }
    
}

.img-block-head {
    .news-date {
        padding: 10px 15px;
        font-family: 'Lato', sans-serif;
        color: $whiteColor;
        background-color:$defaultThemeColor;
        opacity: 0.8;
    }
}

.blog-page {
    article {
        .img-block-head {
            .news-date {
                position:absolute;
                top:10px;
                left:10px;
                padding: 5px 20px;
                overflow: hidden;
                font-family: "Lato", sans-serif;
                border-radius:4px;
                p { 
                    margin: 0;
                    text-align: center;
                    font-size: 2.533em;
                    line-height: 1;
                    color:$whiteColor;
                }
                span {
                    display: block;
                    padding-top:2px;
                    font-size: 1.267em;
                    text-align: center;
                    color:$whiteColor;
                }
            }
        }
        .news-description-block {
            position: relative;
            padding: 0 20px 20px;
            @include clearfix;
            .btn {
                display:block;
                width:140px;
                margin:20px 0;
            }
            .news-info-block {
                width: 100%;
                padding: 15px 0 10px;
                overflow: hidden;
                border-bottom: 1px solid $superlightGrayColor;
                .left {
                    float: left;
                    p.first {
                        text-transform: uppercase;
                        span {
                            width: 20px;
                            height: 25px;
                            margin-right: 10px;
                        }
                    }
                }
                .right {
                    float: right;
                    p {
                        &:last-child {
                            margin: 0;
                        }
                        .fa {
                            color:$defaultThemeColor;
                        }
                    }
                    p.first {
                        margin-right: 15px;
                    }
                }
                p {
                    display: inline;
                    margin: 0 25px 0 0;
                    font-family: 'Lato', sans-serif;
                    color: $darkGrayColor;
                    span {
                        margin-right: 5px;
                        text-align: center;
                    }
                }
            }
            .share {
                position: absolute;
                top: 10px;
                left: 15px;
                p {
                    margin: 0;
                    font: bold 0.857em 'Lato', sans-serif;
                    color: $darkGrayColor;
                    text-align: center;
                    text-transform: uppercase;
                    cursor: pointer;
                    span {
                        display: block;
                        margin-bottom: 10px;
                        color: $lightGrayColor;
                        font-size: 2em;
                    }
                }
                &:hover p span, p.active {
                    opacity: .6;
                }
                .share-links {
                    display: none;
                    margin: 20px 0;
                    padding: 0;
                    list-style: none;
                    li {
                        font-size: 2em;
                        text-align: center;
                        span{
                            color: $defaultThemeColor;
                        }
                        a:hover {
                            opacity:0.5;
                           
                        }
                    }
                    &.active {
                        display: block;
                    }
                }
            }
        }   
        h3 {
            margin: 20px 0;
            color: $lightGrayColor;
            font-size: 1.143em;
        }
        p {
            color: $lightGrayColor;
            a {
                display:inline-block;
            }
        }
        ul {
            padding: 0;
            margin: 30px 0;
        }
    }
    
    .blog-sidebar {  
        ul {
            clear: both;
            margin: 0 0 40px;
            padding: 0;
            li {
                margin: 0 0 10px;
                overflow: hidden;
                list-style-type: none;
            }
        }

        h5 {
            margin: 0 0 20px;
            text-transform: uppercase;
        }

        .categories {
            li {
                padding: 2px 1px;
                font-family: "Lato", sans-serif;
                font-size: 1em;
                text-transform: uppercase;
                a {
                    color: $lightGrayColor;
                    span {
                        width: 15px;
                        height: 15px;
                        padding: 0px 25px 0 0;  
                    }
                    .fa {
                        color:$defaultThemeColor;
                    }
                    
                    &:hover {
                        text-decoration: underline;
                    }
                }
                &:last-child {
                    margin: 0;
                }
            }
        }

        // for wp
        ul {
            li.cat-item {
                padding: 2px 1px;
                font-family: "Lato", sans-serif;
                font-size: 1em;
                text-transform: uppercase;
                a {
                    color: $lightGrayColor;
                    span {
                        width: 15px;
                        height: 15px;
                        padding: 0px 25px 0 0;  
                    }
                    .fa {
                        color:$defaultThemeColor;
                    }
                    
                    &:hover {
                        text-decoration: underline;
                    }
                }
                &:last-child {
                    margin: 0;
                }
            }
        }

        .recent-posts {
            li {
                .image-block {
                    float: left;
                    width: 25%;
                    border-radius:4px;
                    overflow:hidden;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .description-block {
                    .date {
                        color: $lightGrayColor;
                        font-weight:300;
                    }
                }
            }
        }
        .tagcloud {
            a {
                display:block;
                float: left;
                margin: 0 5px 5px 0;
                padding:0 10px;
                color: $whiteColor;
                font-size: 0.857em;
                line-height:22px;
                text-transform: uppercase;
                border: 1px solid $defaultThemeColor;
                border-radius:3px;
                background-color: $defaultThemeColor;
                &:hover {
                    color: $defaultThemeColor;
                    border-color: $defaultThemeColor;
                    background-color: transparent;
                }
            }
        }
    }
    
    .popular-tags {
        li {
            float: left;
            display: block;
            margin: 0 5px 5px 0;
            text-transform: uppercase;
            a {
                display:block;
                margin: 0;
                padding:0 10px;
                color: $whiteColor;
                font-size: 0.857em;
                line-height:22px;
                border: 1px solid $defaultThemeColor;
                border-radius:3px;
                background-color: $defaultThemeColor;
                &:hover {
                    color: $defaultThemeColor;
                    border-color: $defaultThemeColor;
                    background-color: transparent;
                }
            }
        }
    }
    
    .description-block {
        padding: 0 0 15px 30%;
        line-height: 1.5;
        p {
            font-family: 'Lato', sans-serif;
            margin-bottom:0;
        }
        a {
            color: $darkGrayColor;
            font-size: 1em;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
}



.blog-page.blog-page-post { 
    article {
        .news-description-block {
            padding: 0 80px 20px;
        }
    }

}
