
/*------------------------------------------------------------------
    FORMS styles
-------------------------------------------------------------------*/
.wpcf7-form-control-wrap,
.input-group {
    position:relative;
    width:100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom:15px;
    border:1px solid $superlightGrayColor;
    overflow: hidden;
    input:not(.btn),
    textarea {
        position: relative;
        left: 0;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 43px;
        padding-left: 45px;
        line-height:43px;
        font-weight: 300;
        border:none;
        outline: none;
        resize: none;
        -webkit-appearance: none;
        border-radius:0px !important;
        box-shadow:none;
        outline:none !important;
        &::-webkit-input-placeholder {color: $lightGrayColor;}
        &:-moz-placeholder {color: $lightGrayColor;}
        &::-moz-placeholder {color: $lightGrayColor;}
        &:-ms-input-placeholder {color: $lightGrayColor;}

        &:focus::-webkit-input-placeholder {opacity: 0.4;}
        &:focus::-moz-placeholder          {opacity: 0.4;}
        &:focus:-moz-placeholder           {opacity: 0.4;}
        &:focus:-ms-input-placeholder      {opacity: 0.4;}
        &:focus {
            border-color: $defaultThemeColor;
            box-shadow:none;
            color: $defaultThemeColor;
        }
    }
    input[type="submit"] {
        width: auto;
    }

    textarea {
        display: block;
        height:163px;
        padding-top: 13px;
        line-height:1.4em;
    }
    
    .input-group-addon {
        position:absolute;
        top:0;
        left:0;
        z-index:5;
        width:45px;
        height:45px;
        padding:0;
        text-align: center;
        border: none;
        background-color: transparent;
        .fa {
            display: block;
            width:45px;
            line-height:45px;
            font-size: 1.2em;
            color: $lightGrayColor;
        }
        &.focus {
            .fa {
                color:$defaultThemeColor;
            }
        }
    }
    &:before {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
        display: block;
        width:45px;
        height: 45px;
        font: normal normal normal 14px/1 FontAwesome;
        color: $lightGrayColor;
        text-align: center;
        line-height:45px;
        font-size: 1.2em;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    &.focus {
        &:before {
            color: $defaultThemeColor;
        }
    }

    &.name {
        &:before {
            content:"\f007";
        }
    }
    &.phone {
        &:before {
            content:"\f095";
        }
    }
    &.email {
        &:before {
            content:"\f1fa";
        }
    }
    &.mail-block,
    &.message {
        &:before {
            content:"\f040";
        }
    }    
    
}

.ajax-loader {display: none;}

input[type="submit"] {
    width: auto;
    height: 47px;
    margin: 0px auto;
    padding: 0 20px;
    font-family:'Lato', sans-serif;
    color: $defaultThemeColor;
    font-weight: 400;
    line-height: 45px;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid $defaultThemeColor;
    cursor:pointer;
    @include transition(0.5s);
    outline:none !important;
    &:hover {
        color: $whiteColor;
        background-color: $defaultThemeColor;
        border-color: $defaultThemeColor;
    }
}

form {
    position: relative;
    br {
        display: none;
    }
}

// valid success styles
.success-block {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    .field-success {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        color: #fff;
        font-size: 1.2em;
        font-weight: 300;
        @include transform(translate(-50%,-50%));
    }
}
// valid error styles
span.wpcf7-not-valid-tip,
.field-error {
    position: absolute;
    top: 2px;
    right: 5px;
    z-index: 5;
    max-width: 200px;
    padding: 2px 0;
    color: red !important;
    font-size: 0.7em !important;
    font-weight: 300;
    line-height: 1em;
    text-align: right;
}



div.wpcf7-mail-sent-ok,
div.wpcf7-validation-errors {
    position: absolute;
    top: 100%;
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    border:none;
}
div.wpcf7-validation-errors {
    color: #000;
    background-color: rgba(255, 255, 0, 0.5);
}
div.wpcf7-mail-sent-ok {
    color: #fff;
    background-color: rgba(57, 143, 20, 0.5);
}