
/* preloader */
.pageload-overlay::after,
.pageload-overlay::before {
    background:#5BC7BD;
}

/* btn-primary */
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:focus {
  color: #5BC7BD;
}
.btn-primary.inverse-btn {
  color: #5BC7BD;
}

/* btn-success */
.btn-success {
    color: #5BC7BD;
    border-color: #5BC7BD;
}
.btn-success:hover,
.btn-success:active,
.btn-success:active:hover,
.btn-success:active:focus,
.btn-success:focus {
    background-color: #5BC7BD;
    border-color: #5BC7BD;
}
.btn-success.inverse-btn {
    background-color: #5BC7BD;
}
.btn-success.inverse-btn:hover,
.btn-success.inverse-btn:active,
.btn-success.inverse-btn:active:hover,
.btn-success.inverse-btn:active:focus,
.btn-success.inverse-btn:focus {
    color:#5BC7BD;
    border-color: #5BC7BD;
}


/* slider arrows */
a.prev i.fa,
a.next i.fa,
.owl-prev i.fa,
.owl-next i.fa {
    color: #5BC7BD;
}



.owl-theme .owl-pagination .owl-page {
    background-color: #5BC7BD;
}


.theme-modal .modal-header button.close,
.blueimp-gallery > .close {
    border-color: #5BC7BD;
}
.theme-modal .modal-header button.close:hover,
.theme-modal .modal-header button.close i:after,
.theme-modal .modal-header button.close i:before,
.blueimp-gallery > .close:hover,
.blueimp-gallery > .close i:after,
.blueimp-gallery > .close i:before {
    background-color: #5BC7BD;   
}

input[type="submit"] {
    color: #5BC7BD;
    border-color: #5BC7BD;
}
input[type="submit"]:hover {
    background-color: #5BC7BD;
    border-color: #5BC7BD;
}

.wpcf7-form-control-wrap.focus:before,
.input-group.focus:before,
.wpcf7-form-control-wrap .input-group-addon.focus .fa,
.input-group .input-group-addon.focus .fa {
    color: #5BC7BD;   
}


/* main-menu */
.main-menu .navbar-nav > li.active > a,
.main-menu.navbar-fixed .navbar-nav > li > a:hover,
.main-menu .navbar-nav > li.dropdown .dropdown-menu > .active > a,
.main-menu .navbar-nav > li.dropdown .dropdown-menu > .active > a:hover,
.main-menu .navbar-nav > li.dropdown .dropdown-menu > .active > a:focus {
    color: #5BC7BD;
}



/* services-block */
.services-col.version-2 .services-block-img svg path,
.services-col.version-2 .services-block-img svg line,
.services-col.version-2 .services-block-img svg rect,
.services-col.version-2 .services-block-img svg polygon {
    fill: #5BC7BD;
}
.services-col.version-3 .services-img i {
    color: #5BC7BD;
}


/* team */
.team-section-container .team-section-body .team-section-description .post,
.team-section-carousel.version-1 .team-section-body .team-section-description p.office,
.team-section-carousel.version-1 .team-section-body .social-links li .fa:hover,
.team-section-carousel.version-2 .team-section-body .team-section-description p.office {
    color: #5BC7BD;
}
.team-section-container .team-section-body .image-block:before {
    background-color: #5BC7BD;
}


/* pricing */
.pricing-list li.price-row .price-col .price-title,
.pricing-list li.price-row .price-col .price-col-value,
.pricing-list li.price-row .price-col .price-title span,
.pricing-list.version-1 li.price-row .price-col.popular .price-title {
    color: #5BC7BD;
}
.pricing-list li.price-row .price-col.popular .price-title,
.pricing-list.version-1 li.price-row .price-col.popular .price-title span {
    background-color: #5BC7BD;
}

/* counter */
.counter-block.version-2 div {
    border-color: #5BC7BD;
}
.counter-block.version-2 div,
.counter-block.version-2 .fa {
    color: #5BC7BD;
}


/* customers */
.customers-lazy .description-block .fa {
    background-color: #5BC7BD;
}
.customers-carousel.version-1 .customers-lazy .description-block .post {
    color: #5BC7BD;
}

/* news-list */
.news-list.version-2 .news-item:before,
.news-list .news-img-block .news-date {
    background-color: #5BC7BD;
}
@media only screen and (max-width: 767px) {
    .news-list.version-2 .news-item .btn {
        color: #5BC7BD;
        border-color: #5BC7BD;
    }
    .news-list.version-2 .news-item .btn:hover {
        background-color: #5BC7BD;
    }
}


/* contact-section-header */
.contact-section-header .section-title {
    color: #5BC7BD;
}
.subscribe-section-form.version-2 .subscribe-icon {
    color: #5BC7BD;
}
.subscribe-section-form form input[type="submit"]:hover,
.contact-section-form input[type="submit"]:hover {
    color: #5BC7BD;
}
.subscribe-section-form.version-2 form input[type="submit"] {
    border-color: #5BC7BD;
    color: #5BC7BD;
}
.subscribe-section-form.version-2 form input[type="submit"]:hover {
    background-color: #5BC7BD;
}


/* footer */
footer .footer-social li a span {
    color: #5BC7BD;
}
footer .line-lg span {
    border-color: #5BC7BD;
}
footer .profi-theme-map .open-map svg .pin-color {
    fill: #5BC7BD;
}


/* blog-page */
.blog-page article .news-description-block .news-info-block .right p .fa,
.blog-page .blog-sidebar .categories li a .fa {
    color: #5BC7BD;
}
.blog-page .popular-tags li a,
.blog-page .blog-sidebar .tagcloud a {
    border-color: #5BC7BD;
    background-color: #5BC7BD;
}
.blog-page .popular-tags li a:hover,
.blog-page .blog-sidebar .tagcloud a:hover {
    color: #5BC7BD;
    border-color: #5BC7BD;
}
.blog-page article .news-description-block .share .share-links li span {
    color: #5BC7BD;
}

.img-block-head .news-date {
    background-color: #5BC7BD;
}



/* product-page */
.product-page article .img-block-head .price {
    background-color: #5BC7BD;
}
.product-page .popular-tags li a {
    border-color: #5BC7BD;
    background-color: #5BC7BD;
}
.product-page .popular-tags li a:hover {
    color: #5BC7BD;
}
.product-page article .news-description-block .share .share-links li span {
    color: #5BC7BD;
}