
/* preloader */
.pageload-overlay::after,
.pageload-overlay::before {
    background:#06A8F9;
}

/* btn-primary */
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:focus {
    color: #06A8F9;
}
.btn-primary.inverse-btn {
    color: #06A8F9;
}

/* btn-success */
.btn-success {
    color: #06A8F9;
    border-color: #06A8F9;
}
.btn-success:hover,
.btn-success:active,
.btn-success:active:hover,
.btn-success:active:focus,
.btn-success:focus {
    background-color: #06A8F9;
    border-color: #06A8F9;
}
.btn-success.inverse-btn {
    background-color: #06A8F9;
}
.btn-success.inverse-btn:hover,
.btn-success.inverse-btn:active,
.btn-success.inverse-btn:active:hover,
.btn-success.inverse-btn:active:focus,
.btn-success.inverse-btn:focus {
    color:#06A8F9;
    border-color: #06A8F9;
}


/* slider arrows */
a.prev i.fa,
a.next i.fa,
.owl-prev i.fa,
.owl-next i.fa {
    color: #06A8F9;
}



.owl-theme .owl-pagination .owl-page {
    background-color: #06A8F9;
}


.theme-modal .modal-header button.close,
.blueimp-gallery > .close {
    border-color: #06A8F9;
}
.theme-modal .modal-header button.close:hover,
.theme-modal .modal-header button.close i:after,
.theme-modal .modal-header button.close i:before,
.blueimp-gallery > .close:hover,
.blueimp-gallery > .close i:after,
.blueimp-gallery > .close i:before {
    background-color: #06A8F9;   
}

input[type="submit"] {
    color: #06A8F9;
    border-color: #06A8F9;
}
input[type="submit"]:hover {
    background-color: #06A8F9;
    border-color: #06A8F9;
}

.wpcf7-form-control-wrap.focus:before,
.input-group.focus:before,
.wpcf7-form-control-wrap .input-group-addon.focus .fa,
.input-group .input-group-addon.focus .fa {
    color: #06A8F9;   
}


/* main-menu */

.main-menu .navbar-nav > li.dropdown .dropdown-menu > .active > a,
.main-menu .navbar-nav > li.dropdown .dropdown-menu > .active > a:hover,
.main-menu .navbar-nav > li.dropdown .dropdown-menu > .active > a:focus {
    color: #06A8F9;
}

.main-menu.version-3.main-menu .navbar-main-logo svg *{
    fill:#06A8F9;
}

.main-menu.navbar-fixed,
.main-menu .navbar-nav > li.active > a,
.main-menu.navbar-fixed .navbar-nav > li > a:hover{
    background:#06A8F9 !important;
    color: #fff !important;
}

.main-menu.navbar-fixed.main-menu .navbar-main-logo svg *{
    fill:#fff !important;
}

/*Main Section */

.logo_NE  svg *{
    fill:#fff !important;
}

/* services-block */
.services-col.version-2 .services-block-img svg path,
.services-col.version-2 .services-block-img svg line,
.services-col.version-2 .services-block-img svg rect,
.services-col.version-2 .services-block-img svg polygon {
    fill: #06A8F9;
}
.services-col.version-3 .services-img i {
    color: #06A8F9;
}


/* team */
.team-section-container .team-section-body .team-section-description .post,
.team-section-carousel.version-1 .team-section-body .team-section-description p.office,
.team-section-carousel.version-1 .team-section-body .social-links li .fa:hover,
.team-section-carousel.version-2 .team-section-body .team-section-description p.office {
    color: #06A8F9;
}
.team-section-container .team-section-body .image-block:before {
    background-color: #06A8F9;
}



/* section2 */
.counter-block.version-2 div {
    border-color: #06A8F9;
}
.counter-block.version-2 div,
.counter-block.version-2 .fa {
    color: #06A8F9;
}

.theme-section .theme-section-overlay.overlay-dark{
    background: #06A8F9;
}

.counter-block {
    text-align: center;;
 }


/* customers */
.customers-lazy .description-block .fa {
    background-color: #06A8F9;
}
.customers-carousel.version-1 .customers-lazy .description-block .post {
    color: #06A8F9;
}

/



